<h1>Welcome to our coin combo app</h1>
<form action="/cents">
  <div class="form-group">
    <label for="cents">Enter your total cent amount:</label>
    <input id="cents" name="cents" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
